<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Cores</title>
</head>
<body>
    <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Serial No.: <%= cores[0].serial %>
          </p>
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <div class="content">
            <p> launches: <%= cores[0].type %> 
                <br> 
                Status: <%= cores[0].status %>
             <br>
             Reuse Count: <%= cores[0].reuse_count %>
                <br> 
                Asds Landing: <%= cores[0].asds_landings %> 
                <br> 
                Rtls Landing : <%= cores.[0].rtls_landings %>
            <br>
        Last Update: <%= cores[0].last_update %>
    </p>
            <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Serial No.: <%= cores[1].serial %>
          </p>
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <div class="content">
            <p> launches: <%= cores[1].type %> 
                <br> 
                Status: <%= cores[1].status %>
             <br>
             Reuse Count: <%= cores[1].reuse_count %>
                <br> 
                Asds Landing: <%= cores[1].asds_landings %> 
                <br> 
                Rtls Landing : <%= cores.[1].rtls_landings %>
            <br>
        Last Update: <%= cores[1].last_update %>
    </p>
            <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
     
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Serial No.: <%= cores[2].serial %>
              </p>
              <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
              <div class="content">
                <p> launches: <%= cores[2].type %> 
                    <br> 
                    Status: <%= cores[2].status %>
                 <br>
                 Reuse Count: <%= cores[2].reuse_count %>
                    <br> 
                    Asds Landing: <%= cores[2].asds_landings %> 
                    <br> 
                    Rtls Landing : <%= cores.[2].rtls_landings %>
                <br>
            Last Update: <%= cores[2].last_update %>
        </p>
                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
</body>
</html>